In [4]:
import pandas as pd
import datetime
import os

## Select stations
Stations considered for clustering are those that appear in all files.

In [80]:
#Â LOAD DATASETS
stations_path = "datasets/estacions/"
info_path = "datasets/informacio/"
stations_data = {}
info_data = {}

for stations, info in zip(sorted(os.listdir(stations_path)), sorted(os.listdir(info_path))):
    try: 
        assert(stations[:7] == info[:7])
        stations_data[stations[:7]] = pd.read_csv(stations_path+stations)
        info_data[info[:7]] = pd.read_csv(info_path+info)
    except:
        print(stations, info)
try:
    stations_data.pop(".gitatt")
    info_data.pop(".gitatt")
except: 
    pass

/usr/local/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (7,11) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [73]:
stations = []
for doc in stations_data:
    if doc in ['2019_04','2019_05','2019_06', '2019_07','2019_08','2019_09', '2019_10','2019_11','2019_12','2020_01','2020_02','2020_03']:
        stations.append(set(stations_data[doc]["station_id"].unique()))

In [74]:
common_stations = stations[1].intersection(*stations)

## One month average

In [79]:
stations_data['2019_]

{'.gitatt': Empty DataFrame
 Columns: [*.csv filter=lfs diff=lfs merge=lfs -text]
 Index: [], '2019_04':          station_id  num_bikes_available  \
 0                 1                   25
 1                 2                   22
 2                 3                   22
 3                 4                   15
 4                 5                   38
 ...             ...                  ...
 3018519         428                    2
 3018520         492                    9
 3018521         494                    0
 3018522         495                   12
 3018523         496                   15

          num_bikes_available_types.mechanical  \
 0                                          25
 1                                          22
 2                                          22
 3                                          15
 4                                          38
 ...                                       ...
 3018519                                     2
 3018520                                     8
 3018521                                     0
 3018522                                    12
 3018523                                    15

          num_bikes_available_types.ebike  num_docks_available  is_installed  \
 0                                      0                    4             1
 1                                      0                    5             1
 2                                      0                    4             1
 3                                      0                    3             1
 4                                      0                    0             1
 ...                                  ...                  ...           ...
 3018519                                0                   23             1
 3018520                                1                   13             1
 3018521                                0                   21             1
 3018522                                0                   11             1
 3018523                                0                    0             1

          is_renting  is_returning  last_reported  is_charging_station  \
 0                 1             1   1.554069e+09                 True
 1                 1             1   1.554069e+09                 True
 2                 1             1   1.554069e+09                 True
 3                 1             1   1.554070e+09                 True
 4                 1             1   1.553961e+09                 True
 ...             ...           ...            ...                  ...
 3018519           1             1   1.556661e+09                 True
 3018520           1             1   1.556661e+09                 True
 3018521           1             1   1.556661e+09                 True
 3018522           1             1   1.556661e+09                 True
 3018523           1             1   1.556661e+09                 True

              status  last_updated  ttl
 0        IN_SERVICE    1554069571    3
 1        IN_SERVICE    1554069571    3
 2        IN_SERVICE    1554069571    3
 3        IN_SERVICE    1554069571    3
 4        IN_SERVICE    1554069571    3
 ...             ...           ...  ...
 3018519  IN_SERVICE    1556661281    5
 3018520  IN_SERVICE    1556661281    5
 3018521  IN_SERVICE    1556661281    5
 3018522  IN_SERVICE    1556661281    5
 3018523  IN_SERVICE    1556661281    5

 [3018524 rows x 13 columns], '2019_05':          station_id  num_bikes_available  \
 0                 1                   26
 1                 2                   21
 2                 3                   15
 3                 4                   16
 4                 5                   36
 ...             ...                  ...
 3553838         428                   11
 3553839         492                   21
 3553840         494                    0
 3553841         495                    0
 3553842         496                    2

          num_bikes_available_types.mechanical  \
 0                                          26
 1                                          21
 2                                          15
 3                                          16
 4                                          36
 ...                                       ...
 3553838                                    10
 3553839                                    20
 3553840                                     0
 3553841                                    18
 3553842                                     1

          num_bikes_available_types.ebike  num_docks_available  is_installed  \
 0                                      0                    2             1
 1                                      0                    6             1
 2                                      0                   11             1
 3                                      0                    3             1
 4                                      0                    1             1
 ...                                  ...                  ...           ...
 3553838                                1                   16             1
 3553839                                1                    2             1
 3553840                                0                   22             1
 3553841                                2                    2             1
 3553842                                1                   15             1

          is_renting  is_returning  last_reported  is_charging_station  \
 0                 1             1   1.556661e+09                 True
 1                 1             1   1.556662e+09                 True
 2                 1             1   1.556661e+09                 True
 3                 1             1   1.556662e+09                 True
 4                 1             1   1.556661e+09                 True
 ...             ...           ...            ...                  ...
 3553838           1             1   1.559340e+09                 True
 3553839           1             1   1.559340e+09                 True
 3553840           1             1   1.559340e+09                 True
 3553841           0             0   1.559300e+09                 True
 3553842           1             1   1.559340e+09                 True

                  status  last_updated  ttl
 0            IN_SERVICE    1556661602   26
 1            IN_SERVICE    1556661602   26
 2            IN_SERVICE    1556661602   26
 3            IN_SERVICE    1556661602   26
 4            IN_SERVICE    1556661602   26
 ...                 ...           ...  ...
 3553838      IN_SERVICE    1559339678   11
 3553839      IN_SERVICE    1559339678   11
 3553840      IN_SERVICE    1559339678   11
 3553841  NOT_IN_SERVICE    1559339678   11
 3553842      IN_SERVICE    1559339678   11

 [3553843 rows x 13 columns], '2019_06':          station_id  num_bikes_available  \
 0                 1                   19
 1                 2                   24
 2                 3                    5
 3                 4                    1
 4                 5                   33
 ...             ...                  ...
 3466311         428                   12
 3466312         492                   19
 3466313         494                   11
 3466314         495                    2
 3466315         496                    8

          num_bikes_available_types.mechanical  \
 0                                          15
 1                                          21
 2                                           5
 3                                           1
 4                                          33
 ...                                       ...
 3466311                                    12
 3466312                                    18
 3466313                                    10
 3466314                                     1
 3466315                                     8

          num_bikes_available_types.ebike  num_docks_available  is_installed  \
 0                                      4                    8             1
 1                                      3                    3             1
 2                                      0                   22             1
 3                                      0                   19             1
 4                                      0                    5             1
 ...                                  ...                  ...           ...
 3466311                                0                   12             1
 3466312                                1                    2             1
 3466313                                1                    6             1
 3466314                                1                   20             1
 3466315                                0                    6             1

          is_renting  is_returning  last_reported  is_charging_station  \
 0                 1             1   1.559340e+09                 True
 1                 1             1   1.559340e+09                 True
 2                 1             1   1.559340e+09                 True
 3                 1             1   1.559340e+09                 True
 4                 1             1   1.559340e+09                 True
 ...             ...           ...            ...                  ...
 3466311           1             1   1.561931e+09                 True
 3466312           1             1   1.561931e+09                 True
 3466313           1             1   1.561921e+09                 True
 3466314           1             1   1.561932e+09                 True
 3466315           1             1   1.561932e+09                 True

              status  last_updated  ttl
 0        IN_SERVICE    1559339992   25
 1        IN_SERVICE    1559339992   25
 2        IN_SERVICE    1559339992   25
 3        IN_SERVICE    1559339992   25
 4        IN_SERVICE    1559339992   25
 ...             ...           ...  ...
 3466311  IN_SERVICE    1561931703   30
 3466312  IN_SERVICE    1561931703   30
 3466313  IN_SERVICE    1561931703   30
 3466314  IN_SERVICE    1561931703   30
 3466315  IN_SERVICE    1561931703   30

 [3466316 rows x 13 columns], '2019_07':          station_id  num_bikes_available  \
 0                 1                   26
 1                 2                   23
 2                 3                   12
 3                 4                    1
 4                 5                   22
 ...             ...                  ...
 3238505         428                    3
 3238506         492                    1
 3238507         494                    0
 3238508         495                    5
 3238509         496                   11

          num_bikes_available_types.mechanical  \
 0                                          25
 1                                          23
 2                                          12
 3                                           1
 4                                          22
 ...                                       ...
 3238505                                     3
 3238506                                     1
 3238507                                     0
 3238508                                     5
 3238509                                    11

          num_bikes_available_types.ebike  num_docks_available  is_installed  \
 0                                      1                    0             1
 1                                      0                    0             1
 2                                      0                   13             1
 3                                      0                   18             1
 4                                      0                   15             1
 ...                                  ...                  ...           ...
 3238505                                0                   23             1
 3238506                                0                   21             1
 3238507                                0                   23             1
 3238508                                0                   18             1
 3238509                                0                    5             1

          is_renting  is_returning  last_reported  is_charging_station  \
 0                 1             1   1.561932e+09                 True
 1                 1             1   1.561932e+09                 True
 2                 1             1   1.561932e+09                 True
 3                 1             1   1.561932e+09                 True
 4                 1             1   1.561932e+09                 True
 ...             ...           ...            ...                  ...
 3238505           1             1   1.564610e+09                 True
 3238506           1             1   1.564610e+09                 True
 3238507           1             1   1.564610e+09                 True
 3238508           1             1   1.564610e+09                 True
 3238509           1             1   1.564610e+09                 True

              status  last_updated  ttl
 0        IN_SERVICE    1561932001   28
 1        IN_SERVICE    1561932001   28
 2        IN_SERVICE    1561932001   28
 3        IN_SERVICE    1561932001   28
 4        IN_SERVICE    1561932001   28
 ...             ...           ...  ...
 3238505  IN_SERVICE    1564610089    5
 3238506  IN_SERVICE    1564610089    5
 3238507  IN_SERVICE    1564610089    5
 3238508  IN_SERVICE    1564610089    5
 3238509  IN_SERVICE    1564610089    5

 [3238510 rows x 13 columns], '2019_08':          station_id  num_bikes_available  \
 0                 1                   21
 1                 2                    1
 2                 3                   22
 3                 4                    7
 4                 5                   27
 ...             ...                  ...
 3660317         428                   17
 3660318         492                    1
 3660319         494                   11
 3660320         495                    4
 3660321         496                    0

          num_bikes_available_types.mechanical  \
 0                                          21
 1                                           1
 2                                          22
 3                                           7
 4                                          27
 ...                                       ...
 3660317                                    17
 3660318                                     1
 3660319                                    11
 3660320                                     2
 3660321                                     0

          num_bikes_available_types.ebike  num_docks_available  is_installed  \
 0                                      0                    8             1
 1                                      0                   26             1
 2                                      0                    4             1
 3                                      0                   13             1
 4                                      0                    7             1
 ...                                  ...                  ...           ...
 3660317                                0                   10             1
 3660318                                0                   21             1
 3660319                                0                   13             1
 3660320                                2                   20             1
 3660321                                0                   13             1

          is_renting  is_returning  last_reported  is_charging_station  \
 0                 1             1   1.564610e+09                 True
 1                 1             1   1.564610e+09                 True
 2                 1             1   1.564610e+09                 True
 3                 1             1   1.564610e+09                 True
 4                 1             1   1.564610e+09                 True
 ...             ...           ...            ...                  ...
 3660317           1             1   1.567288e+09                 True
 3660318           1             1   1.567288e+09                 True
 3660319           1             1   1.567288e+09                 True
 3660320           1             1   1.567288e+09                 True
 3660321           1             1   1.567288e+09                 True

              status  last_updated  ttl
 0        IN_SERVICE    1564610401   17
 1        IN_SERVICE    1564610401   17
 2        IN_SERVICE    1564610401   17
 3        IN_SERVICE    1564610401   17
 4        IN_SERVICE    1564610401   17
 ...             ...           ...  ...
 3660317  IN_SERVICE    1567288514   28
 3660318  IN_SERVICE    1567288514   28
 3660319  IN_SERVICE    1567288514   28
 3660320  IN_SERVICE    1567288514   28
 3660321  IN_SERVICE    1567288514   28

 [3660322 rows x 13 columns], '2019_09':          station_id  num_bikes_available  \
 0                 1                    4
 1                 2                    4
 2                 3                   25
 3                 4                   17
 4                 5                   19
 ...             ...                  ...
 3518210         428                    6
 3518211         492                    0
 3518212         494                    0
 3518213         495                    0
 3518214         496                   11

          num_bikes_available_types.mechanical  \
 0                                           4
 1                                           4
 2                                          25
 3                                          17
 4                                          19
 ...                                       ...
 3518210                                     5
 3518211                                     0
 3518212                                     0
 3518213                                     0
 3518214                                    10

          num_bikes_available_types.ebike  num_docks_available  is_installed  \
 0                                      0                   23             1
 1                                      0                   22             1
 2                                      0                    2             1
 3                                      0                    3             1
 4                                      0                   20             1
 ...                                  ...                  ...           ...
 3518210                                1                   20             1
 3518211                                0                   23             1
 3518212                                0                   23             1
 3518213                                0                   24             1
 3518214                                1                    3             1

          is_renting  is_returning  last_reported  is_charging_station  \
 0                 1             1   1.567289e+09                 True
 1                 1             1   1.567289e+09                 True
 2                 1             1   1.567289e+09                 True
 3                 1             1   1.567289e+09                 True
 4                 1             1   1.567289e+09                 True
 ...             ...           ...            ...                  ...
 3518210           1             1   1.569880e+09                 True
 3518211           1             1   1.569880e+09                 True
 3518212           1             1   1.569880e+09                 True
 3518213           1             1   1.569880e+09                 True
 3518214           1             1   1.569880e+09                 True

              status  last_updated  ttl
 0        IN_SERVICE    1567288788    2

In [78]:
monthly_means = {}
for month in stations_data:
    # Get dataframe and drop columns not needed - "static" information about the stations
    data = stations_data[month]
    print()
    data = data.drop(columns = ["is_installed", "is_renting", "is_returning", "last_reported", "is_charging_station", "status", "ttl"], inplace=False)
    # Get day and hour of each record 
    data["day"] = data["last_updated"].apply(lambda x: datetime.datetime.fromtimestamp(x).strftime("%d"))
    data["hour"] = data["last_updated"].apply(lambda x: datetime.datetime.fromtimestamp(x).strftime("%H:%M:%S"))   
    data = data.drop(columns = ["last_updated"])
    
    # Compute the mean for each station
    monthly_mean = pd.DataFrame(columns = ["station_id", "num_bikes_available", 
                                       "num_bikes_available_types.mechanical", 
                                       "num_bikes_available_types.ebike", "num_docks_available", "hour"])
    
    for station_id in common_stations:
        station_df = data[data["station_id"] == station_id]
        if len(station_df) >= 288 * 20: # minimum number of rows per station_id 
            for i in range(0, 24, 3):
                    hours = ["{:02d}".format(i), "{:02d}".format(i+1), "{:02d}".format(i+2)]
                    temp_df = station_df[station_df["hour"].str[:2].isin(hours)]
                    mean = temp_df.mean().drop(labels=["day"])
                    mean["hour"] = hours[0] + ":00 - " + hours[-1]+":55"
                    mean["station_id"] = int(mean["station_id"])
                    monthly_mean = monthly_mean.append(mean, ignore_index = True)
                    
        else: 
            print(station_id)
            not_used_stations.append(station_id)

KeyError: "['is_installed' 'is_renting' 'is_returning' 'last_reported'\n 'is_charging_station' 'status' 'ttl'] not found in axis"

Each month:
- Organize each row adding the date and hour of the update
- For each station:
    - For each hour (6.00 - 8.55) compute the mean along all days 
OUTPUT: a dataframe named monthly mean where each station should appear 24 times (one per hour)

In [8]:
# Compute the mean for each station
monthly_mean = pd.DataFrame(columns = ["station_id", "num_bikes_available", 
                                       "num_bikes_available_types.mechanical", 
                                       "num_bikes_available_types.ebike", "num_docks_available", "hour"])
not_used_stations = []

for station_id in data.station_id.unique():
    station_df = data[data["station_id"] == station_id]
    if len(station_df) >= 288 * 20: # minimum number of rows per station_id 
        for i in range(0, 24, 3):
                hours = ["{:02d}".format(i), "{:02d}".format(i+1), "{:02d}".format(i+2)]
                temp_df = station_df[station_df["hour"].str[:2].isin(hours)]
                mean = temp_df.mean().drop(labels=["day"])
                mean["hour"] = hours[0] + ":00 - " + hours[-1]+":55"
                mean["station_id"] = int(mean["station_id"])
                monthly_mean = monthly_mean.append(mean, ignore_index = True)
    else: not_used_stations.append(station_id)

In [9]:
monthly_mean

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,hour
0,1,19.001854,18.802595,0.199259,23.582947,00:00 - 02:55
1,1,20.058333,19.862037,0.196296,22.656481,03:00 - 05:55
2,1,16.810185,17.160185,0.167593,25.395370,06:00 - 08:55
3,1,7.368519,7.492593,0.142593,35.060185,09:00 - 11:55
4,1,6.756030,6.614100,0.298701,35.893321,12:00 - 14:55
...,...,...,...,...,...,...
3923,330,0.427056,0.057029,0.458886,25.820955,09:00 - 11:55
3924,330,0.417772,0.030504,0.387268,25.885942,12:00 - 14:55
3925,330,0.288360,0.006614,0.281746,25.984127,15:00 - 17:55
3926,330,0.304233,0.017196,0.287037,25.818783,18:00 - 20:55
3927,330,0.351852,0.062169,0.289683,25.697090,21:00 - 23:55

In [10]:
not_used_stations

[122, 430, 529, 500, 456, 449, 399]

In [12]:
len(monthly_mean.station_id.unique())

491

In [48]:
monthly_mean.hour.value_counts()

00:00 - 02:55    491
09:00 - 11:55    491
12:00 - 14:55    491
03:00 - 05:55    491
15:00 - 17:55    491
18:00 - 20:55    491
06:00 - 08:55    491
21:00 - 23:55    491
Name: hour, dtype: int64

In [61]:
test = data[data["station_id"] == 1]
mean_test = test[test["hour"].str[:2] == "08"].mean().drop(labels=["day"])
mean_test["hour"] = "08"
print(int(mean_test["station_id"]))

monthly_mean = monthly_mean.append(mean_test, ignore_index=True)
monthly_mean

1

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,hour
0,1.0,17.641667,17.297222,0.344444,24.919444,00
1,1.0,19.316667,19.172222,0.144444,23.227778,01
2,1.0,20.050139,19.941504,0.108635,22.598886,02
3,1.0,20.233333,20.022222,0.211111,22.447222,03
4,1.0,20.055556,19.852778,0.202778,22.647222,04
...,...,...,...,...,...,...
11951,399.0,3.958333,2.958333,1.000000,23.000000,23
11952,1.0,14.308333,14.763889,0.183333,27.708333,08
11953,1.0,14.308333,14.763889,0.183333,27.708333,08
11954,1.0,14.308333,14.763889,0.183333,27.708333,08
11955,1.0,14.308333,14.763889,0.183333,27.708333,08

## PROVES

In [31]:
# Compute the mean for each station
monthly_mean = pd.DataFrame(columns = ["station_id", "num_bikes_available", 
                                       "num_bikes_available_types.mechanical", 
                                       "num_bikes_available_types.ebike", "num_docks_available", "hour"])

station_df = data[data["station_id"] == 1]
for i in range(0, 24, 3):
    hours = ["{:02d}".format(i), "{:02d}".format(i+1), "{:02d}".format(i+2)]
    temp_df = station_df[station_df["hour"].str[:2].isin(hours)]
    mean = temp_df.mean().drop(labels=["day"])
    mean["hour"] = hours[0] + ":00 - " + hours[-1]+":55"
    mean["station_id"] = int(mean["station_id"])
    monthly_mean = monthly_mean.append(mean, ignore_index = True)

0
3
6
9
12
15
18
21

Get common stations --> those that appear in all datasets within one year.